
body{
	font-family: Acme, sans-serif;
	font-Size: 22px;
	background: linear-gradient( to bottom,  #99f,#fa5, #f66);
	background-image: url(fondo.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

h1{
	text-align: center;
}

#container{
	width: 1000px;
	height: 1000px;
	margin: 20px auto;
}

#calculator{
	width: 320px;
	height: 520px;
	background:#eee;
	position: relative;
	margin: auto;
	top: 20px;
	border-radius: 5%;
	box-shadow: 5px 5px 20px 8px #333;
}

#result{
	height: 120px;
}

#keyboard{
	height: 400px;
}

#history{
	height: 20px;
	margin: 0 20px;
	padding-top: 20px;
	font-size: 15px;
	text-align: right;
	color:  #999;
}

#output{
	text-align: right;
	margin: 0 20px;
	font-size: 30px;
}

.operator, .number, .empty{
	height: 50px;
	width: 50px;
	margin: 15px;
	float: left;
	border-radius: 50%;
	border-width: 0;
	font-weight: bold;
	font-size: 20px;
}

.number{
	background:#ddd;
}

.empty{
	background: #eee;
}

.number, .operator{
	cursor:  pointer;
}

.number:active, .operator:active{
	font-size: 18px;
}

button:nth-child(4){
	background-color: #2ba;
}

button:nth-child(8){
	background-color: #fa0;
}

button:nth-child(12){
	background-color: #f88;
}

button:nth-child(16){
	background-color: #79e;
}

button:nth-child(20){
	background-color: #97a;
}
